<% include partials/header %>

  <div class="ui main text container segment">
    <div class="ui huge header">
      Edit
      <%= blog.title %>
    </div>
    <form class="ui form" action="/blogs/<%= blog._id %>?_method=PUT" method="POST">
      <div class="field">
        <label for="">Title</label>
        <input type="text" name="title" value="<%= blog.title %>">
      </div>
      <div class="field">
        <label for="">Image</label>
        <input type="text" name="image" value="<%= blog.image %>">
      </div>
      <div class="field">
        <label for="">Body</label>
        <textarea name="body"><%= blog.body %></textarea>
        <%# <input type="text" name="body" placeholder="Blog Post"> %>
      </div>
      <div class="field">
        <input type="submit" class="ui violet basic button big" name="" value="Submit">
      </div>
    </form>
  </div>

  <% include partials/footer %>
